[submodule "src/infantry_aimbot/libs/backward-cpp"]
	path = src/infantry_aimbot/libs/backward-cpp
	url = https://github.com/bombela/backward-cpp.git
[submodule "src/infantry_aimbot/libs/pfr"]
	path = src/infantry_aimbot/libs/pfr
	url = https://github.com/boostorg/pfr.git
[submodule "src/infantry_aimbot/libs/oneTBB"]
	path = src/infantry_aimbot/libs/oneTBB
	url = https://github.com/uxlfoundation/oneTBB.git
